@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");
*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
h1,
h2,
li,
#img-caption {
  padding-bottom: 1rem;
}

span {
  font-weight: bold;
}

body {
  font-family: "Comic Neue", Sans-Serif;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.5px;
}

#main {
  background-color: rgb(250, 239, 224);
  grid-template-columns: 1fr;
  margin: auto;
}

#title {
  background-color: cadetblue;
  padding: 2rem;
  margin: auto;
}

#img-div {
  background-color: cornflowerblue;
  margin: auto;
  margin: 10px 0px;
}

#image {
  width: 100%;
  max-width: 1200px;
  padding-bottom: 1rem;
}

#tribute-info {
  background-color: rgb(113, 255, 201);
  padding: 2rem;
  margin: auto;
}

#quote,
#tribute-moreinfo {
  background-color: rgb(36, 190, 221);
  padding: 1rem;
  margin: auto;
}

@media (min-width: 800px) {
  #main {
    width: 74vw;
  }
}
