@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");
*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
h1,
h2,
li,
p,
#img-caption {
  padding-bottom: 1rem;
}

span {
  font-weight: bold;
}

body {
  font-family: "Comic Neue", Sans-Serif;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.5px;
  margin: auto;
}

#main {
  background-color: rgb(219, 217, 215);
  grid-template-columns: 1fr;
  margin: auto;
}

#title {
  background-color: cadetblue;
  padding: 2rem;
  margin: auto;
}

#img-div {
  margin: auto;
  margin: 20px 0px;
  background-color: darkgrey;
}

#image {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#img-caption {
  margin: auto;
  max-width: 1000px;
  padding-top: 2rem;
}

#tribute-info {
  padding: 2rem;
  margin: auto;
  max-width: 1000px;
}

#quote,
#tribute-moreinfo {
  padding: 1rem;
  margin: auto;
}

@media (min-width: 1100px) {
  #main {
    padding: 0.8rem 1.5rem;
  }
  #image {
    padding-top: 1rem;
    max-width: 1000px;
  }
}
